<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="numberholder">
        <ion-input placeholder="0"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>C</ion-col> 
      <ion-col>%</ion-col>
      <ion-col>+/-</ion-col>
      <ion-col>/</ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col>7</ion-col>
      <ion-col>8</ion-col>
      <ion-col>9</ion-col>
      <ion-col>*</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>4</ion-col>
      <ion-col>5</ion-col>
      <ion-col>6</ion-col>
      <ion-col>-</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
      <ion-col>+</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>.</ion-col>
      <ion-col>0</ion-col>
      <ion-col>00</ion-col>
      <ion-col class="equal" >=</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
