ion-col{
  font-size: 1.7rem!
  important;
}

.numberholder{
  border-radius: 1px;
  color: #000000; 
  background-color: #797a7f;
  font-size: 3rem! important;
  border: 2px;
}

.c{
  color:orange;
}

ion-input{
  text-align:end;
}

.button{
  background-color: #3f4042;
}

ion-col {
  background-color: #3f4042;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
  border-radius: 100px;
}

.equal{
  background-color:orange;
  color: #000;
}

ion-grid {
  --ion-grid-padding: 5px;

  --ion-grid-padding-xs: 5px;
  --ion-grid-padding-sm: 5px;
  --ion-grid-padding-md: 5px;
  --ion-grid-padding-lg: 5px;
  --ion-grid-padding-xl: 5px;

  --ion-grid-column-padding: 15px;

  --ion-grid-column-padding-xs: 25px;
  --ion-grid-column-padding-sm: 25px;
  --ion-grid-column-padding-md: 25px;
  --ion-grid-column-padding-lg: 25px;
  --ion-grid-column-padding-xl: 25px;
}
